/*
VARIABLES - frequently used colors and sizes used across scss abstracts
*/
$color-primary: #c0b283;
$color-primary-light: #d4c79f;
$color-primary-dark: #423b25; 
$color-white: #f4f4f4;
$color-black: #373737;

$default-font-size: 1.6rem;