/*
HEADER - styles the main header of the site
*/

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(./../img/city.jpg);
    // background-repeat: repeat;
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    z-index: 100;
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        backface-visibility: hidden; // fixes animation stutter
        
    }
    &__title--main {
        display: block;
        font-family: 'Lobster', cursive;
        font-size: 10rem;
        font-weight: 400;
        letter-spacing: .5rem; 
        color: $color-white;
        text-shadow: .5rem .5rem .5rem $color-primary-dark;  

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(med) {
            font-size: 9rem;
            letter-spacing: .15rem; 
        }
        @include responsive(sm) {
            font-size: 7rem;
            // letter-spacing: .15rem; 
        } 
        @include responsive(phone) {
            font-size: 6rem;
            letter-spacing: .15rem; 
        }
      }
      
      &__title--sub {
        display: block;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .5rem;
        background: $color-secondary;
        color: $color-white;
        box-shadow: .5rem .5rem .5rem $color-primary-dark;
        font-size: 2.5rem;
        text-align: center; 
        width: 75%;
        border-radius: 3px;
        margin: 0 auto 0 auto;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(med) {
            width: 75%;
        }
        @include responsive(sm) {
            font-size: 2rem;
            width: 70%;
            // letter-spacing: .15rem; 
        }
        @include responsive(phone) {  
            font-size: 2rem;
            width: 52%; 
        }
      }

      & .btn {
          $button-size: 5rem;

          height: $button-size;
          font-size: $button-size;
          padding: 1.5rem;

          @include responsive(phone) { 
            $button-size: 3rem;

            height: $button-size;
            font-size: $button-size;
        }
      }
}