.section {
    position: relative;
    padding: 20rem 0 10rem;

    &-about {
        background-color: $color-grey-light;
        top: -15vh;
        margin-bottom: -15vh;
        z-index: 10;
    }

    &-projects {
        background-color: $color-secondary;
        top: 15vh;
        margin-bottom:15vh;
        z-index: 9;
    }

    &-contact {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(./../img/seamless.png); 
        background-repeat: repeat;
    }
}

.after-section {  
    position: relative;
    height: 15vh; 
    clip-path: polygon(0 0, 100% 0, 100% 1%, 50% 100%, 0 1%, 0 0);
    z-index: 10;

    &-white { 
        background-color: $color-grey-light; 
        top: -0.2vh;
        margin-bottom: -30.2vh;
    }
    &-dark { 
        z-index: 10;
        background-color: $color-secondary; 
        top: -0.2vh;
        margin-bottom: -15vh;
    } 
}
.image-holder {
    background-color: $color-black;
    height : 40rem;

}
