.section-about {
    position: relative;
    background-color: $color-grey-light;
    padding: 20rem 0;
    // height: 100vh;
    transform: translateY(-15vh);
    z-index: 10;

    @include responsive(sm) {
        padding: 20rem 0;
    }
}
.section-projects {
    position: relative;
    background-color: $color-secondary;
    padding: 20rem 0;
    // height: 100vh;
    transform: translateY(-30vh);
    z-index: 9;
}
.after-section {
    position: relative;
    height: 15vh; 
    clip-path: polygon(0 0, 100% 0, 100% 1%, 50% 100%, 0 1%, 0 0);
    z-index: 10;
    
    &-white {
        background-color: $color-grey-light; 
        transform: translateY(-15.2vh);
    }
    &-black {
        background-color: $color-secondary; 
        transform: translateY(-30.2vh);
    } 
}
.image-holder {
    background-color: $color-black;
    height : 40rem;

}
