.form {
    &__input {
        background: $color-secondary;
        border: none;
        color:$color-white;
        padding: 1rem;
        min-width: 100%;
        max-width: 100%;
        outline: none;
        border-radius: 3px;
        box-shadow: 0.5rem 0.5rem 0.5rem #423b25;
        &:focus:invalid { 
            border-bottom: 5px solid #a31f1f;
        }
    
        &:focus:not(:invalid){ 
            border-bottom: 5px solid #0f5f0f; 
        }   
    }

    &__textarea { 
        height: 8rem;
        min-height: 8rem;
        max-height: 20rem;
    } 

    &__submit {
        text-align: center;
    }

    & .heading-secondary {
        text-shadow: 0.5rem 0.5rem 0.5rem #423b25;
    }

    &__group:not(:last-child), 
    div[class^="col-"]{
        margin-bottom: 1.5rem !important; 
    }

    & .row {
        width: 50%;
        margin-bottom: 1.5rem !important;
        @include responsive(sm) {
            width: 75%;
        }
    } 
}