.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
       
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s; 
    }

    &__layout {
        display: table;

        @include responsive(sm) {
            display: initial; 
        }
    }

    &__left {
        width: 80%;
        display: table-cell; 
        padding: 3rem 0 0 3rem;

        @include responsive(sm) { 
            padding: 3rem 3rem 0 3rem;
            width: auto;
            display: block;
        }
    }

    &__right {
        width: 20%;
        height: 100%;
        display: table-cell;
        position: absolute;

        @include responsive(sm) {
            display: block;
            width: 100%;
            height: auto;
        }
    } 

    &__item {
        list-style-type: none;  
        font-weight: bold;
        font-size: 1.5rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }; 

        @include responsive(sm) { 
            display: inline;

            &:not(:last-child):after {
                content: "\00b7";
            };
        }
    }

    &__list {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);  

        @include responsive(sm) {
            margin: 2rem 0 0 0;
        }
    }

    &__text { 
        font-size: 1.4rem;
        margin-bottom: 2rem; 
        width: 100%;
        
        &-holder {   
            max-height: 30rem;
            width: 100%;
            overflow-y: scroll;  
            

            &::-webkit-scrollbar {
                background: transparent;
                width: 1rem;
                &-thumb {
                    opacity : 0;
                    border-radius: 5px; 
                    background: $color-grey-dark;
                    @include responsive(sm) {
                        opacity: 1;
                    }
                }
            } 
        }
    }
 
    &__button-holder {
        text-align: center;
        margin: 2rem 0;
        width: 100%;

        & .btn-link:not(:last-child) {
            margin-right: 1rem; 
        }

        @include responsive(sm) {
            margin: 4rem 0 2rem 0;
        }
    }
    // Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-black; // gray dark
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
            z-index: 10000;
        }

        &:hover {
            color: $color-primary;
        }
    } 
}

